.logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  margin: 0;
  padding: 0 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ant-layout-sider {
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
}

.ant-layout {
  width: 100%;
}

.ant-layout-content {
  width: 100%;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #1890ff !important;
}
